.logo{
    width: 40px;
    height: 40px;
}

.bg-color {
    background-color: #23818D
}

.font-white {
    color: white;
}

.font-white:hover {
    color: #ffffff;
}

.btn {
    color: white;
    font: 1em/1 'Arial';
    transition: transform 0.3s ease; /* 过渡效果 */
}

.btn:hover {
    border: white 1px solid;
    color: white;
    transform: translateY(-5px); /* 向上移动 */
}

.bg-img{
    background-image: url("/static/img/u1.jpg");
}